In [19]:
import json

In [20]:
data = json.load(open('data/images.json'))

In [21]:
# convert json to csv
import pandas as pd

df = pd.DataFrame(data)

In [22]:
df

,w,movie,img,h,type,cast
0,1666,[tt4882376],0315/rm601699072.jpg,1000,behind_the_scenes,"[nm8801745, nm0001401]"
1,999,[tt2318625],2538/rm814292736.jpg,562,still_frame,[nm2072214]
2,1500,[tt4003966],0354/rm2068192512.jpg,1000,still_frame,[nm0268626]
3,1333,[],3777/rm27402752.jpg,1000,publicity,[nm6655379]
4,704,[],3459/rm537652736.jpg,1000,event,"[nm1577190, nm7097953]"
...,...,...,...,...,...,...
3155527,675,[tt3458560],1022/rm1083496192.jpg,1000,poster,"[nm5417727, nm3353991, nm4548952]"
3155528,1493,[],1308/rm1943730176.jpg,1000,publicity,[nm1942699]
3155529,666,[],2959/rm3252472576.jpg,1000,publicity,[nm1549295]
3155530,1280,"[tt6896960, tt7308120]",1158/rm3564380160.jpg,720,still_frame,"[nm2072971, nm4495346]"
3155531,450,[tt0144024],2188/rm629774592.jpg,289,still_frame,"[nm1290930, nm0441919]"

In [23]:
df['type'].unique()

array(['behind_the_scenes', 'still_frame', 'publicity', 'event', 'poster',
       'production_art', 'product', 'unknown', 'user_avatar'],
      dtype=object)

In [29]:
df[df['type'] == 'poster'].iloc[0].movie[0]

'tt1653690'

In [30]:
df.iloc[0].img

'0315/rm601699072.jpg'